
*.user
*.db
*.o
*.exe
*.Release
*.Debug
DEV/build-Release/Makefile
*.stash
examples/X-OR_Backpropagation/build-Release/Makefile
DEV/build-Release/score.csv
DEV/build-Release/genom.csv
*.csv
*.csv
*.csv
*.gnet
*.bnet
examples/Genetic_ausweichen/build-Debug/animal.txt
*.dll
examples/Genetic_simple/build-Release/Makefile
examples/Genetic_ausweichen/build-Release/Makefile
examples/Genetic_ausweichen/build-Release/gen.txt
examples/Genetic_ausweichen/build-Release/best.txt
examples/Snake/Tests
*.8-pre1
