
*.user
*.db
*.o
*.exe
*.Release
*.Debug
*.stash
DEV/bin
*.csv
*.csv
*.csv
*.gnet
*.bnet
*.dll
*bin
*qml.cpp
examples/X-OR_Backpropagation/bin
examples/X-OR_Backpropagation/Tests
examples/Genetic_simple/bin
examples/Genetic_simple/Tests
examples/Genetic_ausweichen/bin
examples/Genetic_ausweichen/Tests
examples/Snake/bin
examples/Snake/Tests
*.8-pre1
*.8-pre1
NnqmlUi/Release/release/moc_mainwindow.cpp
NnqmlUi/Release/Makefile
*.autosave
NnqmlUi/Releas
examples/X-OR_Backpropagation Performance test/Release/Makefile
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/Makefile
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_backpropnet.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_error.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_geneticnet.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_mainwindow.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_net.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_netvisu.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_neuron.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/moc_predefs.h
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/object_script.X-OR-GUI
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/qmlcache_loader.cpp
examples/build-X-OR-GUI-Desktop_Qt_5_14_1_MinGW_32_bit-Release/ui_mainwindow.h
