
*.user
*.db
*.o
*.exe
*.Release
*.Debug
DEV/build-Release/Makefile
*.stash
examples/X-OR_Backpropagation/build-Release/Makefile
DEV/build-Release/score.csv
DEV/build-Release/genom.csv
*.csv
*.csv
*.csv
*.gnet
*.bnet
